<h1>Your Recipes</h1>
<p>
    <% @recipes.each do |recipe|%>
        <%= recipe.name %>
        <%= recipe.ingredients %>
        <%= recipe.cook_time %>
        <a href="<%="/recipes/#{recipe.id}"%>"> Full Recipe </a>
    <% end %>
<p>