<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <h1>Recipes</h1>
    <% @recipes.each do |recipe| %>
    <h1><%= recipe_link = "/recipes/#{recipe.id}" %></h1>
    <br>
    <a href="<%=recipe_link %>"><%= recipe_name%></a>
    <br>
    <% end %>


  </body>
</html>
