<!DOCTYPE html>
<html>
  <body>
<form method ='post' action ="/recipes">
	 Name: <input type = "text"  name = "name">
	   Igredients: <input type = "text"  name = "ingredients">
	   Cook Time: <input type = "text"  name = "cook_time">
	    <input type ="submit" id = "submit" value = "Submit">
	</form>
</body>
</html>