<h1>Create A Recipe</h1>

<form method="/recipes" action="post">
    <label>Name:
        <input type="text" name="name">
    </label>
    <label>Ingredients:
        <input type="text" name="ingredients">
    </label>
    <label>Cook Time:
        <input type="text" name="cook_time">
    </label>

    <input type="submit" name="submit" value="submit">
</form>