<form action="/recipes" method="POST">
  <label for="Recipe Name"></label>
  <input type="text" id="name" name="name" placeholder="Recipe Name:">

  <label for="Ingredients"></label>
  <input type="text" id="ingredients" name="ingredients" value="ingredients" placeholder="Ingredients:">

  <label for="Directions"></label>
  <input type="text" id="cook_time" name="cook_time" value="cook_time" placeholder="Cook time">

  <input type="submit" value="Save">
</form>
